.one{
    height: 400px;
    width: 400px;
    background-color: red;
}
.two{
    height: 400px;
    width: 400px;
    background-color: blue;
}
.three{
    height: 200px;
    width: 200px;
    background-color: aqua;
}

.two:hover + .one {
  background-color: yellow;
}