/* resizable div css */
.resizable {
    width: 100px;
    height: 100px;
    background-color: red;
    resize: both;
    overflow: auto;
}

/* resizable circle css */
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    resize: both;
}