{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Calculator</title>
</head>

<body>
    <main>
        <div class="main outer">
            <div class="main inner">
                <div class="buttons">
                    <button class="btn" id="clear">C</button>
                    <button class="btn" id="clear">C</button>
                    <button class="btn" id="clear">C</button>
                    <button class="btn" id="clear">C</button>
                    <button class="btn" id="clear">C</button>
                    <button class="btn" id="clear">C</button>
                    <button class="btn" id="clear">C</button>
                    <button class="btn" id="clear">C</button>
                    <button class="btn" id="clear">C</button>
                    <button class="btn" id="clear">C</button>
                </div>
            </div>
        </div>
    </main>
</body>

</html>