<!-- <div class="testimonials-card"> -->
    <div class="testimonials-card-circle">
        <h1>⁕</h1>
    </div>
    <div class="testimonials-card-content">
        <div class="testimonials-card-description" style="display: flex; text-align: center; font-size: 20px;">
            testimonialdescription
        </div>
        <div class="testimonials-card-image">
            <img src="imagesrc" alt="⁕">
        </div>
        <div class="testimonials-card-name" style="font-size: 24px; font-weight: bold; text-shadow: 1px 1px 3px #000000e6;">
            testimonialName
        </div>
        <div class="testimonials-card-designation" style="font-size: 20px;">
            testimonialDesignation
        </div>
        <div class="testimonials-card-rating">
            stars
        </div>
    </div>
</div>